@use '../abstracts/' as *;
@use '../themes/' as *;

.modal-container {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: $z-index-20;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    display: none;

    @include respond(tablet) {
        justify-content: center;
    }
}

.spin-wheel,
.won-deals {
    background-color: $background;
    width: 93%;
    padding-block: to-rem($space-md);
    gap: to-rem(20px);
    border-radius: to-rem(24px) to-rem(24px) 0 0;
    position: relative;

    @include flex-set(center, center, column);

    &__heading {
        gap: to-rem(8px);

        @include flex-set(center, center, column);
    }

    &__wrapper {
        @include flex-set;
        position: relative;
    }

    @include respond(tablet) {
        width: 35%;
        border-radius: to-rem(24px);
    }
}

.won-deals {
    display: none;

    &__wrapper {
        width: 90%;
        gap: to-rem(10px);
        @include flex-set(center, center, column);
    }
}

.spin-btn {
    width: 43px;
    height: 43px;
    padding: 0;
    border-radius: $radius-round;
    border: $border-wheel-btn;
    position: absolute;
}

.wheel-section {
    position: absolute;
    width: 50%;
    height: 50%;
    transform-origin: 100% 100%;
    border-bottom: $border-wheel;

    @include flex-set;

    &--1 {
        transform: rotate(0deg);
        background-color: $modal-primary;
    }

    &--2 {
        transform: rotate(90deg);
        background-color: $modal-secondary;
    }
    &--3 {
        transform: rotate(180deg);
        background-color: $modal-accent-1;
    }
    &--4 {
        transform: rotate(270deg);
        background-color: $modal-accent-2;
    }
}

.wheel-section-text {
    transform: rotate(-45deg);
    color: $background;
    text-align: center;

    @include font-style(12px, $bold, 1);
}

.display-card {
    display: none;
}

.heading-wrapper,
.promoCode-wrapper {
    width: 40%;
}

.promoCode-wrapper {
    @include flex-set;
    gap: to-rem(20px);
}

.icon-copy {
    color: $card-active-btn;

    &--inactive {
        color: $card-inactive-btn;
    }
}

.wheel-close-btn,
.viewAll-close-btn {
    font-size: to-rem(24px);
    background-color: $background;
    color: $primary-font;
    position: absolute;
    padding: 10px;
    top: 0;
    right: 0;
    border-radius: to-rem(24px);
}

.icon-wheel-pointer {
    position: absolute;
    top: to-rem(-13px);
}
