@use '../abstracts/' as *;
@use '../themes/' as *;

.footer {
    padding: 0;
    margin-top: to-rem(116px);
    gap: to-rem(80px);
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

    &__icon {
        display: none;
        z-index: $z-index-neg-1;
    }

    &__head {
        gap: to-rem($space-lg);
        width: 85%;

        @include flex-set(center, flex-start, column);
    }

    &__head-name {
        gap: to-rem($space-sm);

        @include flex-set;
    }

    &__head-logo {
        font-size: to-rem(40px);
        background: linear-gradient($primary, $secondary-font);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__head-socials {
        gap: to-rem($space-lg);

        @include flex-set;
    }

    &__head-social-links {
        font-size: to-rem(32px);
        background-color: transparent;
    }

    &__details {
        width: 85%;
        gap: to-rem(80px);
        display: grid;
    }

    &__details-wrapper {
        width: 100%;

        @include flex-set(flex-start, center, column);
    }

    &__details-btn {
        width: 100%;
        background-color: $background;

        @include flex-set(space-between);

        &--opened {
            padding-bottom: to-rem(10px);
            border-bottom: 5px solid $primary;
        }
    }

    &__details-dropdown {
        font-size: to-rem($space-md);
        transition: all 0.3s ease;

        &--opened {
            transform: rotate(180deg);
        }
    }

    &__details-links {
        max-height: 0;
        overflow: hidden;
        width: 100%;
        gap: to-rem($space-sm);
        transition: all 0.4s ease;

        @include flex-set(center, flex-start, column);

        &--opened {
            padding: to-rem(10px);
            max-height: 100%;
        }
    }

    @include respond(tablet) {
        margin-block: to-rem(220px) to-rem(53px);
        gap: to-rem($space-xl);

        &__icon {
            display: block;
            position: absolute;
            right: 0;
            top: 27%;
        }

        &__head {
            width: 87%;
        }

        &__head-about {
            font-size: to-rem(23px);
        }

        &__details {
            grid-template-columns: 1fr 1fr 1fr;
            width: 87%;
            gap: to-rem($space-lg);
        }

        &__details-wrapper {
            gap: to-rem($space-lg);
            align-items: flex-start;
        }

        &__details-btn {
            pointer-events: none;
            width: auto;
        }

        &__details-dropdown {
            display: none;
        }

        &__details-links {
            max-height: 100%;
            gap: to-rem(41px);
            padding: to-rem(10px);

            @include flex-set(center, flex-start, column);
        }
    }

    @include respond(desktop) {
        margin-block: to-rem(181px) 0;
        grid-template-columns: 1fr 1fr;

        &__icon {
            top: 10%;
        }

        &__head {
            width: 100%;
            padding: to-rem(40px) 0 0 to-rem(132px);
        }

        &__head-socials {
            padding-top: to-rem($space-lg);
        }

        &__head-about {
            font-size: to-rem(23px);
        }

        &__details {
            width: 84%;
            padding: to-rem(40px) 0 0 to-rem(5px);
            justify-self: flex-start;
            gap: 0;
        }

        &__details-links {
            gap: to-rem(42px);
            width: 90%;
        }
    }
}
