@use '../abstracts' as *;
@use '../themes' as *;
@use '../components' as *;

.main {
    @include flex-set(center, center, column);
}

.hero {
    margin-top: to-rem(144px);
    gap: to-rem($space-lg);

    @include flex-set(center, center, column);

    &__ellipse {
        width: 50vw;
        height: 40vh;
        background-color: $primary-blur;
        border-radius: 50%;
        opacity: 0.4;
        position: absolute;
        top: -5%;
        left: -15%;
        z-index: $z-index-20;
        filter: blur(150px);
        pointer-events: none;
    }

    &__gallery {
        aspect-ratio: 396/366;

        @include flex-set(center, end);
    }

    &__gallery-bg {
        align-self: start;
        position: absolute;
        padding: 0 to-rem($space-xs);

        img {
            width: 100%;
        }
    }

    &__gallery-group {
        width: 74%;
        aspect-ratio: 575/632;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: to-rem($space-xs);
        position: relative;
        margin-left: 11%;
        margin-right: 13%;

        &--left,
        &--right {
            gap: to-rem($space-sm);
            overflow: hidden;
            border-radius: to-rem($radius-md);

            @include flex-set(center, center, column);
        }
    }

    &__gallery-telegram {
        position: absolute;
        background-color: $secondary-font;
        width: to-rem($icon-lg);
        height: to-rem($icon-lg);
        font-size: to-rem($icon-sm);
        border-radius: $radius-round;
        bottom: 48.5%;
        left: -6.25%;

        @include flex-set;
    }

    &__gallery-add-user {
        width: to-rem($icon-lg);
        height: to-rem($icon-lg);
        font-size: to-rem($icon-sm);
        border-radius: $radius-round;
        position: absolute;
        background-color: $primary-blur;
        bottom: 0;
        left: 67%;

        @include flex-set;
    }

    &__gallery-top-places {
        padding: to-rem(10px);
        gap: to-rem(10px);
        position: absolute;
        background-color: $background;
        width: to-rem(85px);
        border-radius: to-rem($radius-xl);
        bottom: 26%;
        right: -16.5%;
        font-size: to-rem(7px);
        font-weight: $bold;

        @include flex-set;
    }

    &__gallery-left-image,
    &__gallery-right-image {
        width: 100%;
        height: 50%;

        img {
            height: 100%;
            border-radius: to-rem($radius-md);
            width: 100%;
            object-fit: cover;
        }
    }

    &__gallery-right-image {
        height: auto;
    }

    &__text-section {
        gap: to-rem(19px);
        text-align: center;
        position: relative;
        margin-top: to-rem(10px);

        @include flex-set(center, center, column);

        &__para {
            width: 96%;
            padding-top: to-rem(6px);
        }
    }

    &__text-section-badge {
        padding: to-rem($space-xs) to-rem($space-lg);
        box-shadow: $box-shadow;
        border-radius: to-rem($radius-xl);
    }

    &__text-section-badge-h3 {
        gap: to-rem($space-xs);
        font-size: to-rem(14px);

        @include flex-set;
    }

    &__text-section-badge-icon {
        font-size: to-rem($icon-sm);
    }

    &__text-section-heading {
        width: 84%;

        &--span {
            color: $secondary-font;
        }
    }

    &__text-section-buttons {
        width: 100%;
        gap: 24px;
        padding-top: to-rem(12px);

        @include flex-set(center, center, column);

        &--get-started {
            padding: to-rem($space-md) 0;
            width: 100%;
            white-space: nowrap;

            @include font-style;
        }
        &--watch-demo {
            gap: to-rem(9px);
            padding: to-rem($space-md) 0;
            border: 1px solid #eee;
            width: 100%;
            white-space: nowrap;

            @include font-style;
            @include flex-set;

            span {
                font-size: to-rem($icon-sm);
            }
        }
    }

    @include respond(tablet) {
        margin: to-rem(114px) 0;
        gap: to-rem($space-sm);

        &__gallery {
            aspect-ratio: 772/713;
            padding: to-rem($space-xl);
        }

        &__gallery-group {
            gap: to-rem($space-md);
            &--left,
            &--right {
                gap: to-rem($space-md);
            }
        }

        &__gallery-telegram {
            width: to-rem($icon-xl);
            height: to-rem($icon-xl);
            font-size: to-rem($icon-lg);
            bottom: 47.5%;
        }

        &__gallery-add-user {
            width: to-rem($icon-xl);
            height: to-rem($icon-xl);
            font-size: to-rem($icon-lg);
            bottom: -1%;
        }

        &__gallery-top-places {
            font-size: to-rem(14px);
            width: 30%;
            padding: to-rem($space-sm);
        }

        &__text-section {
            gap: to-rem(43px);
            margin: 0;
        }

        &__text-section-heading {
            width: 70%;
            padding-top: to-rem(5px);
        }

        &__text-section-para {
            width: 47%;
            padding-top: 0;
        }

        &__text-section-buttons {
            gap: to-rem($space-xs);
            padding: 0;
            width: 38%;

            @include flex-set;

            &--get-started {
                padding: to-rem($space-xs) 0;
            }

            &--watch-demo {
                padding: to-rem($space-xs) to-rem($space-lg);
            }
        }
    }

    @include respond(desktop) {
        margin-top: to-rem(200px);
        gap: 0;

        @include flex-set;

        &__gallery {
            order: 2;
            width: 65%;
            padding: 0;
        }

        &__gallery-group {
            gap: 33px;

            &--left,
            &--right {
                gap: to-rem($space-lg);
                border-radius: to-rem(30px);
            }
        }

        &__gallery-image {
            img {
                border-radius: to-rem(30px);
            }
        }

        &__text-section {
            width: 35%;
            text-align: start;
            align-items: flex-start;
        }

        &__text-section-heading {
            width: 100%;
        }

        &__text-section-para {
            width: 97%;
            padding-top: 0;

            @include flex-set(center, start, column);
        }

        &__text-section-buttons {
            padding: 0;
            gap: to-rem($space-xs);
            width: 79%;

            @include flex-set(start, center, row);
        }
    }
}
