@use '../abstracts' as *;
@use '../themes' as *;
@use '../components' as *;

.main {
    @include flex-set(center, center, column);
}

.hero {
    margin-top: $space-xl;
    gap: $space-lg;

    @include flex-set(center, center, column);

    &__ellipse {
        width: 50vw;
        height: 40vh;
        background-color: $primary-blur;
        border-radius: 50%;
        opacity: 0.4;
        position: absolute;
        top: -5%;
        left: -15%;
        z-index: -99;
        filter: blur(150px);
    }

    &__img-section {
        aspect-ratio: 396/366;

        @include flex-set(center, end);

        &__bg {
            align-self: start;
            position: absolute;
            padding: 0 $space-xs;

            img {
                width: 100%;
            }
        }
    }

    &__text-section {
        gap: to-rem(19px);
        text-align: center;
        position: relative;

        @include flex-set(center, center, column);

        &__badge {
            padding: $space-xs $space-lg;
            box-shadow: $box-shadow;
            border-radius: $radius-xl;

            &__h3 {
                gap: $space-xs;
                font-size: to-rem(14px);

                @include flex-set;

                &__icon {
                    font-size: $icon-sm;
                }
            }
        }

        &__heading {
            width: 84%;

            &__span {
                word-break: break-all;
                color: $secondary-font;
            }
        }

        &__para {
            width: 96%;
            padding-top: to-rem(6px);
        }

        &__buttons {
            width: 100%;
            gap: 24px;
            padding-top: to-rem(12px);

            @include flex-set(center, center, column);

            &__get-started {
                padding: $space-md 0;
                width: 100%;
                white-space: nowrap;

                @include primary-btn;

                @include button-text-primary;
            }
            &__watch-demo {
                gap: to-rem(9px);
                padding: $space-md 0;
                border: 1px solid #eee;
                width: 100%;
                white-space: nowrap;

                @include secondary-btn;

                @include button-text-secondary;

                @include flex-set;

                span {
                    font-size: $icon-sm;
                }
            }
        }
    }

    @include respond(tablet) {
        margin: $space-lg 0;
        gap: $space-sm;

        &__img-section {
            aspect-ratio: 772/713;
            padding: 7%;
        }

        &__text-section {
            gap: to-rem(43px);

            &__heading {
                width: 70%;
                padding-top: to-rem(5px);
            }

            &__para {
                width: 47%;
                padding-top: 0;
            }

            &__buttons {
                gap: $space-xs;
                padding: 0;
                width: 38%;

                @include flex-set;

                &__get-started {
                    padding: $space-xs $space-lg;
                }

                &__watch-demo {
                    padding: $space-xs $space-lg;
                }
            }
        }
    }
    @include respond(desktop) {
        margin-top: to-rem(90px);
        gap: 0;

        @include flex-set;

        &__img-section {
            order: 2;
            width: 65%;
            padding: 0;
        }

        &__text-section {
            gap: to-rem(40px);
            width: 35%;
            text-align: start;

            &__badge {
                align-self: flex-start;
                padding: $space-md $space-xl;
            }

            &__heading {
                width: 100%;
            }

            &__para {
                align-self: start;
                width: 97%;
                padding-top: 0;

                @include flex-set(center, start, column);
            }

            &__buttons {
                padding: 0;
                gap: $space-xs;
                width: 100%;

                @include flex-set(start, center, row);
            }
        }
    }
}

.img-section-wrapper {
    width: 74%;
    aspect-ratio: 9/10;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $space-xs;
    position: relative;
    margin-left: 11%;
    margin-right: 13%;

    &__left,
    &__right {
        gap: $space-sm;
        overflow: hidden;
        border-radius: $radius-md;

        @include flex-set(center, center, column);

        &__img {
            height: 50%;
            width: 100%;

            img {
                height: 100%;
                border-radius: $radius-md;
                width: 100%;
                object-fit: cover;
            }
        }
    }
    &__right__img {
        height: auto;
    }

    &__telegram {
        position: absolute;
        background-color: $secondary-font;
        width: $icon-lg;
        height: $icon-lg;
        font-size: $icon-sm;
        border-radius: $radius-round;
        bottom: 48.5%;
        left: -6.25%;
        @include flex-set;
    }

    &__add-user {
        width: $icon-lg;
        height: $icon-lg;
        font-size: $icon-sm;
        border-radius: $radius-round;
        position: absolute;
        background-color: $primary-blur;
        bottom: 0;
        left: 67%;

        @include flex-set;
    }

    &__top-places {
        padding: to-rem(10px);
        gap: to-rem(10px);
        position: absolute;
        background-color: $bg;
        width: to-rem(85px);
        border-radius: $radius-xl;
        bottom: 27%;
        right: -16.5%;
        font-size: to-rem(7px);
        font-weight: $bold;

        @include flex-set;
    }

    @include respond(tablet) {
        &__left,
        &__right {
            gap: $space-md;
        }

        &__telegram {
            width: $icon-xl;
            height: $icon-xl;
            font-size: $icon-lg;
        }

        &__add-user {
            width: $icon-xl;
            height: $icon-xl;
            font-size: $icon-lg;
        }

        &__top-places {
            font-size: to-rem(14px);
            width: 40%;
            padding: $space-sm;
        }
    }

    @include respond(desktop) {
        gap: 33px;

        &__left,
        &__right {
            gap: $space-lg;
            border-radius: to-rem(30px);
        }

        &__img {
            img {
                border-radius: to-rem(30px);
            }
        }
    }
}
