@use '../abstracts' as *;
@use '../themes' as *;
@use '../components' as *;

.navbar {
    padding-block: to-rem(40px) to-rem(32px);
    background-color: $background;
    position: fixed;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: $z-index-10;
    transition: padding 0.2s ease;

    &--scrolled {
        box-shadow: $box-shadow;
        padding-block: to-rem(32px);
    }

    &__wrapper {
        @include flex-set(space-between);
        width: min(100%, to-rem(1192px));
        margin-inline: auto;
    }

    &__logo {
        font-size: to-rem(40px);
        background: linear-gradient($primary, $secondary-font);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: none;

        @include flex-set(start);
    }

    &__links-wrapper {
        display: none;

        &--open {
            z-index: $z-index-10;
            width: 100%;
            left: 50%;
            transform: translateX(-50%);
            border-radius: to-rem($radius-lg);
            padding: to-rem($space-md);
            gap: to-rem($space-md);
            top: to-rem(90px);
            box-shadow: $box-shadow;
            position: absolute;
            background-color: $background;

            @include flex-set(center, center, column);
        }
    }

    &__list {
        gap: to-rem($space-md);
        z-index: $z-index-10;
        font-size: to-rem(14px);
        color: $inactive-link;
        font-weight: $bold;
        outline-offset: 6px;

        @include flex-set(center, center, column);
    }

    &__list-links {
        transition: all 0.2s ease;
        outline-offset: 4px;

        &:hover,
        &:focus-within {
            color: $active-link;
            transform: translateY(to-rem(-4px));
            text-decoration: dashed;
        }
    }

    &__hamburger-btn {
        height: to-rem(40px);
        width: to-rem(40px);
        border-radius: to-rem($radius-sm);

        @include font-style(to-rem(32px));

        &:hover,
        &:focus-within {
            box-shadow: none;
        }
    }

    &__hamburger-btn-bars {
        transition: transform 0.5s ease;

        &--open {
            transform: rotate(90deg);
        }
    }

    &__buttons-wrapper {
        max-width: 100%;
        gap: to-rem(10px);

        @include flex-set;
    }

    &__login,
    &__signup {
        width: 100%;
        outline-offset: 3px;

        @include font-style;
    }

    @include respond(tablet) {
        padding-block: to-rem($space-lg);

        &__logo {
            order: 2;

            @include flex-set(center);
        }

        &__links-wrapper {
            display: block;
            order: 3;
            flex: 1;
        }

        &__list {
            display: none;

            &--open {
                left: 0;
                top: calc(100% - to-rem(16px));
                padding: to-rem($space-lg);
                border-radius: to-rem($radius-md);
                box-shadow: $box-shadow;
                background-color: $background;
                gap: to-rem(28px);
                position: absolute;
                width: 100%;
                z-index: $z-index-10;

                @include flex-set(center, center, column);
            }
        }

        &__hamburger-wrapper {
            flex: 1;
            padding-right: 0;
            padding-left: to-rem(3px);
        }

        &__hamburger-btn {
            order: 1;
            flex: 1;
        }

        &__buttons-wrapper {
            justify-self: end;
            flex-direction: row;
        }
    }

    @include respond(desktop) {
        padding-block: to-rem($space-xl) to-rem($space-xs);

        &__logo {
            @include flex-set(space-between);
        }

        &__links-wrapper {
            max-width: 75%;

            @include flex-set(space-between, center);
        }

        &__list {
            gap: to-rem($space-xl);

            @include flex-set(start, center);
        }

        &__hamburger-wrapper {
            display: none;
        }
    }
}
