<<<<<<< HEAD
@use '../abstracts' as *;
@use '../themes' as *;
@use '../components' as *;

.navbar {
    @include flex-set(space-between);
    position: relative;
    height: to-rem(112px);

    &__logo {
        @include flex-set(start);
        font-size: to-rem(42px);
        background: linear-gradient(#5d50c6, #f85e9f);

        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;

        @include respond(tablet) {
            order: 2;
            @include flex-set(center);
        }

        @include respond(desktop) {
            flex: 0.1;
            @include flex-set(space-between);
=======
.navbar {
    @include flex-set(space-between);
    padding: to-rem(38px) to-rem(18px);
    position: relative;

    &__logo {
        @include flex-set(center, center);
        @include respond(tablet) {
            order: 2;
            flex: 1;
        }

        @include respond(desktop) {
            flex: 0.2;
>>>>>>> d49fc18 ([OH_A1_01] Header Section: Created Structure for header)
        }
    }

    &__cont {
<<<<<<< HEAD
        width: 60vw;
        height: auto;
        display: none;
        z-index: 999;
=======
        @include box(60vw, auto);
        display: none;
>>>>>>> d49fc18 ([OH_A1_01] Header Section: Created Structure for header)

        &--open {
            @include flex-set(center, center, column);
            gap: to-rem(20px);
            position: absolute;
            top: to-rem(90px);
            right: to-rem(10px);
            padding: to-rem(24px) 0;
<<<<<<< HEAD
            box-shadow: 0 0 to-rem(10px) to-rem(5px) gray;
            background-color: $bg;
        }

        @include respond(tablet) {
            height: auto;
            width: auto;
=======
            box-shadow: 0 0 to-rem(10px) to-rem(5px) $gray-secondary;
        }

        @include respond(tablet) {
            @include box(auto, auto);
>>>>>>> d49fc18 ([OH_A1_01] Header Section: Created Structure for header)
            display: block;
            order: 3;
            flex: 1;
        }

        @include respond(desktop) {
<<<<<<< HEAD
            @include flex-set(space-between, center);
            flex: 0.75;
=======
            @include flex-set(space-around, center);
            flex: 0.8;
>>>>>>> d49fc18 ([OH_A1_01] Header Section: Created Structure for header)
        }
    }

    &__ul {
<<<<<<< HEAD
        @include flex-set(center, center, column);
        gap: to-rem(20px);
        z-index: 999;
        font-size: to-rem(14px);
        color: $primary-para-col;

        li:hover,
        li:focus {
            color: $primary-link;
            transform: translateY(-2px);
            transition: transform 0.2s ease;
=======
        @include font-design(to-rem(14px), 700, $primary-font, $gray-secondary);
        gap: to-rem(20px);

        li:hover {
            color: $link;
        }

        &--open {
            @include flex-set(center, center, column);
            @include box(20vw, auto);
            gap: to-rem(20px);
            position: absolute;
            top: to-rem(100px);
            left: 10px;
            padding: to-rem(24px) 0;
            box-shadow: 0 0 10px 5px $gray-secondary;
>>>>>>> d49fc18 ([OH_A1_01] Header Section: Created Structure for header)
        }

        @include respond(tablet) {
            display: none;
        }

<<<<<<< HEAD
        &--open {
            @include flex-set(center, center, column);
            width: 40vw;
            height: auto;
            gap: to-rem(20px);
            position: absolute;
            top: to-rem(100px);
            left: to-rem(10px);
            padding: to-rem(24px) 0;
            box-shadow: 0 0 10px 5px gray;
            background-color: $bg;
        }

        @include respond(desktop) {
            @include flex-set(start, center);
            gap: to-rem(64px);
            flex: 0.8;
=======
        @include respond(desktop) {
            @include flex-set(space-between, center);
            gap: 50px;
>>>>>>> d49fc18 ([OH_A1_01] Header Section: Created Structure for header)
        }
    }

    &__hamburgerCont {
<<<<<<< HEAD
        @include respond(tablet) {
            flex: 1;
        }
=======
        flex: 1;
>>>>>>> d49fc18 ([OH_A1_01] Header Section: Created Structure for header)
        @include respond(desktop) {
            display: none;
        }
    }

    &__hamburger {
        @include flex-set();
<<<<<<< HEAD
        height: to-rem(40px);
        width: to-rem(40px);
        background-color: $primary-btn;
        border-radius: to-rem(10px);
        color: white;
        font-size: to-rem(32px);

        &__bars {
            transition: transform 0.5s ease;

            &--open {
                transform: rotate(90deg);
            }
        }
=======
        @include box(to-rem(40px));
        @include font-design(to-rem(26px), 700, $primary-font, $bg);
        background-color: $blue;
        border-radius: to-rem(10px);
        color: white;
>>>>>>> d49fc18 ([OH_A1_01] Header Section: Created Structure for header)

        &__close--hidden {
            display: none;
        }
        &__bars--hidden {
            display: none;
        }

        @include respond(tablet) {
            order: 1;
            flex: 1;
        }
    }

    &__buttonsCont {
        @include flex-set();
        max-width: 100%;
<<<<<<< HEAD

        &__login {
            @extend .secondary-btn;
            height: to-rem(50px);
            width: to-rem(105px);
        }

        &__signup {
            @extend .primary-btn;
            height: to-rem(50px);
            width: to-rem(115px);
        }

        @include respond(tablet) {
            justify-self: end;
        }
    }
    @include respond(desktop) {
        padding-top: to-rem(70px);
=======
        gap: to-rem(20px);
        justify-content: end;
    }

    @include respond(tablet) {
        padding: to-rem(32px) to-rem(60px);
    }
    @include respond(desktop) {
        padding: to-rem(64px) 0;
>>>>>>> d49fc18 ([OH_A1_01] Header Section: Created Structure for header)
    }
}
