@use '../abstracts' as *;
@use '../themes' as *;
@use '../components' as *;

.partners {
    flex-wrap: wrap;
    gap: 27px;

    @include flex-set;

    @include respond(tablet) {
        width: 80%;
        padding: 65px 65px 0 65px;
    }
    @include respond(desktop) {
        width: 100%;
        padding: 65px 0;
        justify-content: space-between;
    }

    a {
        color: $inactive-link;
        &:focus-within,
        &:hover {
            color: $active-link;
        }
    }

    &__icons {
        font-size: 20px;

        @include respond(tablet) {
            font-size: 32px;
        }
    }
}
