@use '../abstracts' as *;

.partners {
    flex-wrap: wrap;
    gap: to-rem($space-md);
    padding: to-rem(73px) 0;

    @include flex-set;

    @include respond(tablet) {
        width: 70%;
        padding: to-rem($space-md) to-rem($space-xl);

        &__links-icons {
            font-size: to-rem($icon-lg);
        }
    }

    @include respond(desktop) {
        width: 83%;
        padding: to-rem(10px) 0;
        justify-content: space-between;
    }
}
