@use '../abstracts/' as *;
@use '../themes/' as *;

.testimonial {
    text-align: center;
    gap: to-rem($space-xl);
    width: 100%;

    @include flex-set(center, center, column);

    &__main-heading {
        letter-spacing: 20%;
        padding-bottom: to-rem(19px);
    }

    &__image {
        height: to-rem(128px);
        width: to-rem(128px);
        border-radius: 50%;
    }

    &__details {
        gap: to-rem($space-lg);

        @include flex-set(center, center, column);
    }

    &__client-details {
        @include flex-set;
    }

    &__client-name {
        color: $primary-details;
    }

    &__client-designation {
        font-size: to-rem(23px);
    }

    &__details-stars {
        font-size: to-rem(28px);
        gap: 19px;

        @include flex-set;
    }

    &__comment-wrapper {
        width: 90%;

        @include flex-set(center, center, row);
    }

    &__comment-para {
        font-size: to-rem(18px);
        font-weight: $medium;
        padding-top: to-rem(5px);
        width: 75%;
    }

    @include respond(tablet) {
        gap: to-rem(56px);

        &__comment-para {
            font-size: to-rem(23px);
            width: 62%;
        }
    }

    @include respond(desktop) {
        &__comment-para {
            width: 64%;
        }
    }
}
