@use '../abstracts' as *;
@use '../themes' as *;
@use '../components' as *;

.travelpoint {
    width: 100vw;
    gap: 28px;
    padding: 55px 0;
    position: relative;

    @include flex-set(center, center, column);

    @include respond(tablet) {
        padding: 70px 0 0 0;
        gap: 66px;
    }

    @include respond(desktop) {
        @include flex-set;
        width: 92vw;
        align-self: end;
        gap: 0;
    }

    &__ellipse {
        display: none;
        z-index: -99;
        opacity: 0.5;
        height: 50vw;
        border-radius: 50%;
        background-color: $secondary-blur;
        filter: blur(150px);

        @include respond(tablet) {
            width: 25vw;
            display: block;
            position: absolute;
            top: -25%;
            right: 0;
        }
        @include respond(tablet) {
            width: 15vw;
            top: -50%;
            right: -5%;
        }
    }

    &__img {
        width: 100%;

        @include respond(desktop) {
            width: 65.5%;
            padding-top: 14px;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__textSide {
        text-align: center;
        gap: 29px;

        @include flex-set(center, center, column);

        @include respond(desktop) {
            width: 34.5%;
            text-align: start;
            gap: 32px;
        }

        &__cont {
            gap: 32px;
            @include flex-set(center, center, column);

            @include respond(desktop) {
                gap: 34px;
            }

            &__head {
                gap: 16px;

                @include flex-set(center, center, column);

                @include respond(desktop) {
                    align-items: flex-start;
                    padding-top: 7px;
                    gap: 19px;
                }

                h3 {
                    letter-spacing: 20%;
                }
            }

            p {
                width: 83%;

                @include respond(desktop) {
                    align-self: flex-start;
                    width: 100%;
                }
            }
        }

        &__details {
            width: 90%;
            gap: 16px;
            padding-top: 4px;
            position: relative;

            @include flex-set(center, center, column);

            @include respond(tablet) {
                flex-wrap: wrap;
                width: 87%;
                gap: 32px;
                padding-top: 32px;

                @include flex-set;
            }

            @include respond(desktop) {
                width: 100%;
                text-align: center;
            }

            &__icon {
                display: none;

                @include respond(desktop) {
                    @include flex-set;
                    position: absolute;
                    color: $primary-btn;
                    border-radius: 50%;
                    background-color: $secondary-blur;
                    width: to-rem(111px);
                    height: to-rem(111px);
                    font-size: to-rem(40px);
                    top: -4%;
                    right: -12%;
                }
            }

            &__cont {
                width: 90%;
                gap: 16px;
                padding: 31.5px 0;
                border: 1px solid $primary-btn-bg;
                border-radius: 30px;

                @include flex-set(center, center, column);

                @include respond(tablet) {
                    min-width: 40%;
                    flex: 1;
                }

                p {
                    font-size: 18px;
                }
            }
        }
    }
}
