@use '../abstracts/' as *;
@use '../themes/' as *;

.splide__arrow svg {
    display: none;
}

.arrows {
    position: absolute;
    width: to-rem($space-xl);
    height: to-rem($space-xl);
    border-radius: 100%;
    background-color: $background;
    border: $border-primary;
    font-size: to-rem($icon-sm);
    top: 20%;

    @include flex-set;

    &:hover,
    &:focus-within {
        background-color: $primary;

        &:before {
            color: $background;
        }
    }

    &--right {
        right: 0;
    }

    &--left {
        left: 0;
    }

    @include respond(tablet) {
        width: to-rem(100px);
        height: to-rem(100px);
        top: 42%;
    }

    @include respond(desktop) {
        top: 40%;
    }
}
