.navbar__buttonsCont__login {
    @include box(to-rem(105px), to-rem(49px));
    @include font-design(to-rem(14px), 700, $primary-font, $link);
    border-radius: 100px;
    background-color: #fff;
}

.navbar__buttonsCont__signup {
    @include box(to-rem(115px), to-rem(49px));
    @include font-design(to-rem(14px), 700, $primary-font, $bg);
    border-radius: 100px;
    background-color: $blue;
}
