@use '../themes' as *;
@use '../abstracts/' as *;

.button {
    border-radius: to-rem($radius-xl);
    transition: all 0.3s ease;
    cursor: pointer;
    padding: to-rem($space-sm) to-rem($space-lg);

    &--primary {
        background-color: $primary;
        color: $primary-content;
    }

    &--secondary {
        background-color: $secondary;
        color: $secondary-content;
    }

    &--outline {
        background-color: $secondary;
        color: $secondary-content;
        border: $border-secondary;
    }

    &--icon {
        outline-offset: to-rem(5px);
        background-color: $primary;
        color: $primary-content;
        padding: 0;

        @include flex-set;
    }

    &--modals {
        background-color: $secondary;
        color: $secondary-content;
        border: $border-secondary;
        width: 90%;
        gap: to-rem(10px);

        @include flex-set;

        @include respond(tablet) {
            width: 90%;
        }
    }

    &:hover,
    &:focus-within {
        transform: translateY(to-rem(-4px));
        border: to-rem(1px) solid $primary-para;
        box-shadow: $box-shadow;
    }
}
