@use '../abstracts/' as *;
@use '../themes/' as *;

.card {
    @include flex-set;

    &--outline {
        padding-block: to-rem($space-lg);
        border: $border-primary;
        border-radius: $radius-lg;
        gap: to-rem($space-xs);
        flex-direction: column;
        background-color: transparent;
    }
}

.deal-card {
    width: 87%;
    padding: to-rem($space-xs);
    border: $border-deals;
    border-radius: $radius-md;
    justify-content: space-evenly;
    background-image: $card-active;

    @include flex-set;

    &--expired {
        border: $border-modal-expired;
        background-color: $card-expired;
    }
}
