@use '../abstracts/' as *;
@use '../themes/' as *;

.count-badge {
    width: to-rem(18px);
    height: to-rem(18px);
    border-radius: $radius-round;
    background-color: $deals-secondary;
    color: $background;
}

.promo-badge {
    width: to-rem(98px);
    height: to-rem(98px);
    border-radius: to-rem($radius-sm);
}
