@use '../abstracts/' as *;
@use '../themes/' as *;

.spin-wheel {
    position: relative;
    gap: to-rem($space-md);

    @include flex-set(center, center, column);

    &__pointer {
        position: absolute;
        top: to-rem(-13px);
        left: 50%;
        transform: translateX((-50%));
    }

    &__wheel-wrapper {
        position: relative;
        margin-top: to-rem(9px);
    }

    &__wheel {
        width: 227px;
        aspect-ratio: 1/1;
        border-radius: $radius-round;
        overflow: hidden;
        position: relative;
        border: $border-wheel;
        box-shadow: 0 0 50px 7px #00000040;
        transition: transform 1s ease-out;
        text-align: center;

        &--message {
            background-color: rgba(238, 238, 238, 1);
            box-shadow: none;

            @include flex-set;
        }
    }

    &__section {
        position: absolute;
        width: 50%;
        height: 50%;
        transform-origin: 100% 100%;
        border-bottom: $border-wheel;

        @include flex-set;

        &--1 {
            transform: rotate(0deg);
            background-color: $modal-primary;
        }

        &--2 {
            transform: rotate(90deg);
            background-color: $modal-secondary;
        }
        &--3 {
            transform: rotate(180deg);
            background-color: $modal-accent-1;
        }
        &--4 {
            transform: rotate(270deg);
            background-color: $modal-accent-2;
        }
    }

    &__section-text {
        transform: rotate(-45deg);
        color: $background;
        text-align: center;

        @include font-style(12px, $bold, 1, $inter);
    }

    &__spin-btn {
        width: 43px;
        height: 43px;
        padding: 0;
        border-radius: $radius-round;
        border: $border-wheel-btn;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $background;
        cursor: pointer;

        &:hover {
            box-shadow: $box-shadow;
        }
    }
}
