/// Variables for font-color
/// @type color
$primary-font: #000;
$secondary-font: #f85e9f;
$tertiary-font: #191825;
$primary-details: #ff5722;
$primary-para: #191825bf;
$secondary-para: #19182580;
$active-link: #222831;
$inactive-link: #19182580;
$primary-blur: #ff5722;
$secondary-blur: #facd49;
