/// Variables for font-color
/// @type color
$primary-font: #000;
$secondary-font: #f85e9f;
$tertiary-font: #191825;
$primary-details: #ff5722;
$primary-para: #191825bf;
$secondary-para: #19182580;
$active-link: #222831;
$inactive-link: #19182580;
$primary-blur: #ff5722;
$secondary-blur: #facd49;

$modal-primary: #f4436c;
$modal-secondary: #7c3aed;
$modal-content-primary: #111827;
$modal-content-secondary: #9ca3af;
$modal-accent-1: #fbbf24;
$modal-accent-2: #06b6d4;
$card-active: linear-gradient(
    to right,
    rgba(244, 67, 108, 0.1),
    rgba(124, 58, 237, 0.1)
);
$card-expired: #00000033;
$card-active-content: #1f2937;
$card-expired-content: #999999;
$card-active-btn: rgba(244, 67, 108, 1);
$card-inactive-btn: rgba(170, 170, 170, 1);
