/// Set a mixin for media queries
/// @param {string} breakpoint - name of breakpoint (desktop or tablet)
/// @return media query for given param
///
/// Example usage
/// body{
///     @include respond(desktop){
///         border:2px solid black;
///     }
/// }
///
/// Compiled CSS
/// @media (min-width:1024px){
///     body{
///         border:2px solid black;
///     }
/// }
///
@mixin respond($breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
        @content;
    }
}

/// Sets up a flex layout
/// @param {string} justify - For justify-content value
/// @param {string} align - For align-items value
/// @param {string} dir - For flex-direction value
/// @return flex according to parameters given
///
/// Example usage
/// body{
///     @include flex-set(center, center, column)
/// }
///
/// Compiled CSS
/// body{
///     display:flex;
///     align-items:center;
///     justify-content:center;
///     flex-direction:column;
/// }
///
@mixin flex-set($justify: center, $align: center, $dir: row) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $dir;
}

/// Sets font design
/// @param {string} size - For size of font
/// @param {numeric} weight - For weight of font
/// @param {string} family - For font-family
/// @param {string} color - For color of font
/// @return styling for the font
///
/// Example usage
/// body{
///     @include font-design(16px, 700, $primary-font, $primary-gray)
/// }
///
/// Compiled CSS
/// body{
///     font-size: 16px;
///     font-weight: 700;
///     font-family: CircularStd, sans-serif;
///     color: #191825BF;
/// }
@mixin font-design($size, $weight, $family, $color) {
    font-size: $size;
    font-weight: $weight;
    font-family: $family;
    color: $color;
}
