@use 'variables' as *;

/// Set a mixin for media queries
/// @param {string} breakpoint - name of breakpoint (desktop or tablet)
/// @return media query for given param
///
/// Example usage
/// body{
///     @include respond(desktop){
///         border:2px solid black;
///     }
/// }
///
/// Compiled CSS
/// @media (min-width:1024px){
///     body{
///         border:2px solid black;
///     }
/// }
///
@mixin respond($breakpoint) {
    @if not map-has-key($breakpoints, $breakpoint) {
        @error "Invalid Breakpoint. Only {tablet or desktop} Allowed";
    }
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
        @content;
    }
}

/// Sets up a flex layout
/// @param {string} justify - For justify-content value
/// @param {string} align - For align-items value
/// @param {string} dir - For flex-direction value
/// @return flex according to parameters given
///
/// Example usage
/// body{
///     @include flex-set(center, center, column)
/// }
///
/// Compiled CSS
/// body{
///     display:flex;
///     align-items:center;
///     justify-content:center;
///     flex-direction:column;
/// }
///
@mixin flex-set($justify: center, $align: center, $dir: row) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $dir;
}

/// Sets up font style for elements
/// @param {string} font-size - For font-size value
/// @param {string} font-weight - For font-weight value
/// @param {string} line-height - For line-height value
/// @return font style to the elements
///
/// Example usage
/// body{
///     @include font-style(14px, 700, 1.2)
/// }
///
/// Compiled CSS
/// body{
///     font-size: 14px;
///     font-weight: 700;
///     line-height: 1.2;
/// }
///
@mixin font-style(
    $font-size: to-rem(14px),
    $font-weight: $bold,
    $line-height: 1.2
) {
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
}

/// Truncates a text after given number of lines
/// @param {string} lines - For number of lines to truncate after
/// @return truncates the element to given lines
///
/// Example usage
/// p{
///     @include truncate(3)
/// }
///
/// Compiled CSS
/// p{
/// display: -webkit-box;
/// -webkit-box-orient: vertical;
/// -webkit-line-clamp: 3;
/// overflow: hidden;
/// text-overflow: ellipsis;
/// }
///
@mixin truncate($lines: 2) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;
    overflow: hidden;
    text-overflow: ellipsis;
}
