@use 'mixins' as *;
@use 'variables' as *;

/// Variables for font-color
/// @type color
$primary-font: #000;
$secondary-font: #f85e9f;
$tertiary-font: #191825;
$primary-details: #ff5722;
$primary-para: #191825bf;
$secondary-para: #19182580;
$active-link: #222831;
$inactive-link: #19182580;
$primary-btn: #eee;

/// Variables for font-size
/// @type string
$font-family: circularstd;

/// Variables for font-weight
/// @type number
$bold: 700;
$medium: 400;
$regular: 450;

/// Variables for Line Spacing
/// @type string
$primary-spacing: 120%;
$secondary-spacing: 160%;

//Hosted font Circular std
@font-face {
    font-family: circularstd;
    font-weight: $regular;
    src: url('#{$font-path}CircularStd-Book.woff2');
}

@font-face {
    font-family: circularstd;
    font-weight: $bold;
    src: url('#{$font-path}CircularStd-Bold.woff2');
}

h1 {
    font-size: 40px;
    font-weight: $bold;
    line-height: $primary-spacing;
    color: $primary-font;

    @include respond(tablet) {
        font-size: 56px;
    }

    @include respond(desktop) {
        font-size: 69px;
    }
}

h2 {
    font-size: 32px;
    font-weight: $bold;
    line-height: $primary-spacing;
    color: $tertiary-font;

    @include respond(tablet) {
        font-size: 40px;
    }

    @include respond(desktop) {
        font-size: 44px;
    }
}

h3 {
    font-size: 16px;
    font-weight: $bold;
    line-height: $primary-spacing;
    color: $secondary-font;

    @include respond(tablet) {
        font-size: 23px;
    }

    @include respond(desktop) {
        font-size: 23px;
    }
}

h4 {
    font-size: 35px;
    font-weight: $bold;
    line-height: $primary-spacing;
    color: $primary-details;
}

h5 {
    font-size: 28px;
    font-weight: $bold;
    line-height: $primary-spacing;
    color: $primary-font;
}

h6 {
    font-size: 23px;
    font-weight: $bold;
    line-height: $primary-spacing;
    color: $tertiary-font;
}

p {
    font-size: 16px;
    font-weight: $medium;
    line-height: $secondary-spacing;
    color: $secondary-para;

    @include respond(tablet) {
        font-size: 18px;
    }

    @include respond(desktop) {
        font-size: 18px;
    }
}
