@use 'mixins' as *;
@use 'variables' as *;
@use 'functions' as *;

/// Variables for font-color
/// @type color
$primary-font: #000;
$secondary-font: #f85e9f;
$tertiary-font: #191825;
$primary-details: #ff5722;
$primary-para: #191825bf;
$secondary-para: #19182580;
$active-link: #222831;
$inactive-link: #19182580;
$primary-btn: #eee;

/// Variables for font-size
/// @type string
$font-family: circularstd;

/// Variables for font-weight
/// @type number
$bold: 700;
$medium: 450;
$regular: 400;

/// Variables for Line Spacing
/// @type string
$primary-spacing: 1.2;
$secondary-spacing: 1.6;

//Hosted font Circular std
@font-face {
    font-family: circularstd;
    font-weight: $regular;
    src: url('#{$font-path}CircularStd-Book.woff2');
}

@font-face {
    font-family: circularstd;
    font-weight: $bold;
    src: url('#{$font-path}CircularStd-Bold.woff2');
}

h1 {
    font-size: to-rem(40px);
    font-weight: $bold;
    line-height: $primary-spacing;
    color: $primary-font;

    @include respond(tablet) {
        font-size: to-rem(56px);
    }

    @include respond(desktop) {
        font-size: to-rem(69px);
    }
}

h2 {
    font-size: to-rem(32px);
    font-weight: $bold;
    line-height: $primary-spacing;
    color: $tertiary-font;

    @include respond(tablet) {
        font-size: to-rem(40px);
    }

    @include respond(desktop) {
        font-size: to-rem(44px);
    }
}

h3 {
    font-size: to-rem(16px);
    font-weight: $bold;
    line-height: $primary-spacing;
    color: $secondary-font;

    @include respond(tablet) {
        font-size: to-rem(23px);
    }

    @include respond(desktop) {
        font-size: to-rem(23px);
    }
}

h4 {
    font-size: to-rem(35px);
    font-weight: $bold;
    line-height: $primary-spacing;
    color: $primary-details;
}

h5 {
    font-size: to-rem(28px);
    font-weight: $bold;
    line-height: $primary-spacing;
    color: $primary-font;
}

h6 {
    font-size: to-rem(23px);
    font-weight: $bold;
    line-height: $primary-spacing;
    color: $tertiary-font;
}

p {
    font-size: to-rem(16px);
    font-weight: $regular;
    line-height: $secondary-spacing;
    color: $secondary-para;

    @include respond(tablet) {
        font-size: to-rem(18px);
    }

    @include respond(desktop) {
        font-size: to-rem(18px);
    }
}

@mixin button-text-primary() {
    font-size: 14px;
    color: $primary-btn;
    font-weight: $bold;
}

@mixin button-text-secondary() {
    font-size: 14px;
    color: $active-link;
    font-weight: $bold;
}
