///Breakpoints for responsiveness
/// @type map
/// @props {string} desktop(min-width:1440px)
/// @props {string} tablet(min-width:1024px)
$breakpoints: (
    'desktop': (
        min-width: 1440px,
    ),
    'tablet': (
        min-width: 1024px,
    ),
);

///Variable for Font Path
$font-path: '../../../assets/fonts/';

/// Border-color
$border-primary: 1px solid #1918251a;
$border-secondary: 1px solid #eee;
$border-deals: 1px solid #f4436c33;
$border-deals-expired: 1px solid #00000033;

/// Box-shadow
$box-shadow: 0 2rem 1.5rem rgba(0, 0, 0, 0.12);

/// Variables for Border-radius
$radius-sm: 10px;
$radius-md: 16px;
$radius-lg: 20px;
$radius-xl: 100px;
$radius-round: 50%;

/// Variables for spacing
$space-xs: 16px;
$space-sm: 18px;
$space-md: 24px;
$space-lg: 32px;
$space-xl: 64px;

/// Variables for z-index
$z-index-10: 10;
$z-index-20: 20;
$z-index-neg-1: -1;

/// Variables for font-size
/// @type string
$font-family: circularstd;

/// Variables for font-weight
/// @type number
$bold: 700;
$medium: 450;
$regular: 400;

/// Variables for Line Spacing
/// @type string
$primary-spacing: 1.2;
$secondary-spacing: 1.6;

/// Variables for Icons
$icon-sm: 16px;
$icon-md: 20px;
$icon-lg: 32px;
$icon-xl: 64px;

/// Map for font face
$fonts: (
    'regular': (
        'font-family': 'circularstd',
        'file-name': 'CircularStd-Book',
        'font-weight': $regular,
    ),
    'medium': (
        'font-family': 'circularstd',
        'file-name': 'CircularStd-Bold',
        'font-weight': $medium,
    ),
    'bold': (
        'font-family': 'circularstd',
        'file-name': 'CircularStd-Bold',
        'font-weight': $bold,
    ),
);
