@use '../abstracts/' as *;

.container {
    width: min(100%, to-rem(1440px));
    margin-inline: auto;
}

.main {
    @include flex-set(center, center, column);
    position: relative;
}

.no-scroll {
    overflow: hidden;
}
