@use '../abstracts/' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font-family;
}

*::after,
*::before {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $inactive-link;
}
button {
    border: none;
}

nav,
main,
footer {
    padding: 0 to-rem(16.86px);

    @include respond(tablet) {
        padding: 0 to-rem(64px);
    }

    @include respond(desktop) {
        padding: 0 to-rem(117.36px) 0 to-rem(130px);
    }
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}
