@use '../abstracts/' as *;

//Hosted font Circular std
@include font-face(circularstd);

h1 {
    font-size: to-rem(40px);
    font-weight: $bold;
    line-height: $primary-spacing;
    color: $primary-font;

    @include respond(tablet) {
        font-size: to-rem(56px);
    }

    @include respond(desktop) {
        font-size: to-rem(69px);
    }
}

h2 {
    font-size: to-rem(32px);
    font-weight: $bold;
    line-height: $primary-spacing;
    color: $tertiary-font;

    @include respond(tablet) {
        font-size: to-rem(40px);
    }

    @include respond(desktop) {
        font-size: to-rem(44px);
    }
}

h3 {
    font-size: to-rem(16px);
    font-weight: $bold;
    line-height: $primary-spacing;
    color: $secondary-font;

    @include respond(tablet) {
        font-size: to-rem(23px);
    }

    @include respond(desktop) {
        font-size: to-rem(23px);
    }
}

h4 {
    font-size: to-rem(35px);
    font-weight: $bold;
    line-height: $primary-spacing;
    color: $primary-details;
}

h5 {
    font-size: to-rem(28px);
    font-weight: $bold;
    line-height: $primary-spacing;
    color: $primary-font;
}

h6 {
    font-size: to-rem(23px);
    font-weight: $bold;
    line-height: $primary-spacing;
    color: $tertiary-font;
}

p {
    font-size: to-rem(16px);
    font-weight: $regular;
    line-height: $secondary-spacing;
    color: $secondary-para;

    @include respond(tablet) {
        font-size: to-rem(18px);
    }

    @include respond(desktop) {
        font-size: to-rem(18px);
    }
}

.deals-heading {
    color: $deals-content-primary;

    @include font-style(to-rem(20px), $bold, 1);
}

.deals-subheading {
    letter-spacing: 0.1em;
    color: $deals-primary;

    @include font-style(to-rem(12px), $semi-bold, 1);
}

.deals-content {
    color: $deals-content-secondary;

    @include font-style(to-rem(12px), $regular, 1);
}

.card-heading {
    color: $card-active-content;

    @include font-style(to-rem(14px), $semi-bold, 1);
}

.card-subheading {
    color: $card-expired-content;

    @include font-style(to-rem(12px), $medium, 1);
}

.badge {
    letter-spacing: 0.5em;
    color: $primary-font;

    @include font-style(to-rem(12px), $bold, 1);
}
